@font-face {
    font-family: Poppins;
    src: url(Poppins-Bold.ttf);
}
*{
    font-family: Poppins;
}

body{
    margin:0;
    background-color:#121213;
}
#board{
    margin:auto;
    margin-top:5px;
    width: 270px;
    height:325px;
    display:grid;
    gap:5px;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
}
.square{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    color:white;
    width:50px;
    height:50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid gray;
    transition:0.1s;
}
.empty{
    background-color: #3a3a3c;
    border: none;
}
.wrong{ 
    background-color:#b59f3b;
    border: none;
}
.right{
    background-color: #538d4e;
    border: none;
}
#gameEnd{
    font-size: 1rem;
    width: 220px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
    margin:auto;
    text-align: center;
    padding:5px;
    transition:0.3s;
}
#gameStatus{
    margin:0;
    color:white;
    display:none;
}
#playAgainBtn{
    border:none;
    font-size: 1rem;
    border-radius: 4px;
    padding:2px 8px;
    color:white;
    background-color: #538d4e;
    display:none;
    cursor:pointer;
}
#keyboard{
   margin:auto;
   width:fit-content;
   display:block;
}
.keyboardKey{
    color:white;
    border:none;
    width:40px;
    height:60px;
    font-size:1.4rem;
    border-radius: 4px;
    margin:2px;
    cursor:pointer;
    transition:0.2s;
}
.keyboardKey:active{
    scale:0.95;
}
.defaultKey{
    background-color: gray;
}
#enter{
    font-size:1.2rem;
    width:70px;
}
#backspace{
    width: 55px;
}